.slider {
  position: relative;
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  height: 60px;
  min-width: 200px;
}

.slider__container {
  margin: 0 7px;
  position: absolute;
  left: 0;
  right: 0;
  height: 33px;
  display: flex;
  align-items: center;
}

.slider__inverse {
  width: 100%;
  position: absolute;
  height: 3px;
  background: rgba(60, 162, 204, 0.25);
}

.slider__range {
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 14px;
  background: #FF7327;
}

.slider__thumb-left,
.slider__thumb-right {
  height: 33px;
  width: 33px;
  position: absolute;
  z-index: 2;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  outline: none;

  background: #FF7327;
  box-shadow: 2px 0px 4px rgba(239, 130, 97, 0.52);
  border-radius: 50px;
}

.slider__thumb-container {
  margin-right: 50px;
  position: absolute;
  left: 0;
  right: 0;
  height: 33px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
    margin-left: 50px;
  }
}

.slider__thumb-left {
  transform: translateX(10%);
}

.slider__thumb-right {
  transform: translateX(-45%);
}

.slider__thumb-left-value {
  text-align: center;
  width: 45px;
  left: -5px;
  position: absolute;
  top: -20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FF7327;
  transition: all .3s;
}

.slider__thumb-right-value {
  text-align: center;
  width: 45px;
  left: -5px;
  position: absolute;
  top: -30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FF7327;
  transition: all .3s;
}

.slider__input:last-child {
  right: 0;
}

.slider__input {
  top: 37px;
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  width: calc(100% - 33px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.slider__input::-ms-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

.slider__input::-moz-range-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

.slider__input:focus::-webkit-slider-runnable-track {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

.slider__input:focus {
  outline: none;
}

.slider__input::-ms-thumb {
  pointer-events: all;
  width: 33px;
  height: 33px;
  border-radius: 0;
  border: 0 none;
  background: red;
}

.slider__input::-moz-range-thumb {
  pointer-events: all;
  width: 33px;
  height: 33px;
  border-radius: 0;
  border: 0 none;
  background: red;
}

.slider__input::-webkit-slider-thumb {
  pointer-events: all;
  width: 33px;
  height: 33px;
  border-radius: 0;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

.slider__input::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

.slider__input::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.slider__input::-ms-tooltip {
  display: none;
}
