.drop-checkbox {
  &__wrap {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    //background: #C4C4C4;;
    //padding: 1px;
    border-radius: 6px;
  }

  &__wrap:hover {
    //background: linear-gradient(136.02deg, #F8B772 0%, #EF8261 100%);;
    //padding: 1px;
    border-radius: 6px;
  }

  &__selected {
    font-size: 18px !important;
    color: #303551 !important;
  }

  &__select-wrap {
    background: #FEFEFE;
    border: 1px solid rgba(60, 162, 204, 0.5);
    box-sizing: border-box;
    border-radius: 6px;
    height: 60px;
    display: flex;
    min-width: 200px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    position: relative;
    cursor: pointer;

    &:hover {
      border: 1px solid #FF7327;
    }
  }

  &__select {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #3CA2CC;
  }

  &__select-toggle {
    position: absolute;
    right: 28px;
    top: 50%;
    content: "";
    width: 16px;
    height: 9px;
    cursor: pointer;
    background: url("../../../static/images/toggle-dropdown.svg");
    transition: all .3s;
  }

  &__select-toggle-open {
    position: absolute;
    right: 28px;
    top: 50%;
    content: "";
    width: 16px;
    height: 9px;
    cursor: pointer;
    background: url("../../../static/images/toggle-dropdown.svg");
    transform: rotate(180deg);
    transition: all .3s;
  }

  &__select-list {
    display: none;
    flex-flow: column nowrap;
    padding: 10px 0;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    max-height: 235px;
  }

  &__select-list-open {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 0;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;
  }

  &__select-items {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    max-height: 300px;
  }

  &__select-item {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #303551;
  }

  &__selected-item-active {
    display: flex;
    width: 17px;
    height: 12px;
    background: url("../../../static/images/selected.svg");
  }

  &__selected-item {
    display: none;
    width: 17px;
    height: 12px;
    background: url("../../../static/images/selected.svg");
  }

  &__item-wrap {
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__item-wrap:hover {
    background: #FF7327;
  }
}
